  <body>
  <!--<div class="centeredHeader">-->
    <header class="title">
      <div class="titleContent">
        <h1>Pathology TimeOut</h1>
        <h2>AP coverage validation</h2>
      </div>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <!--<div> -->
        <!--<img class="headerIcon" src="assets/TimeOut_icon.png">-->
        <!--<img class="headerIcon" src="../assets/TimeOut_icon.png">-->
        <img class="headerIcon" src="{{this.assetsLocation}}">
      <!--</div>-->
    </header>
  <!--</div>-->
  <br/><br/>

  <div class="centered">
    <label>Requestor (optional): &nbsp;</label>
    <select id="requestor" (change)="setRqst($event)">
        <option value="-1">Select Pathologist</option>
        <option *ngFor="let pathArr of allPaths" value="{{pathArr.path_itn}}">{{pathArr.path_name}}</option>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <!--</div>-->
  <!--<br/><br/>-->
  <!--<div> -->
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range (required)</mat-label>
     <!-- <mat-date-range-input [rangePicker]="picker" [min]="todayDate">-->
      <mat-date-range-input [rangePicker]="picker">
        <!--<input matStartDate #ref placeholder="Start date" (dateChange)="saveStartDate($event)" [(ngModel)]="prettyStartDate">-->
        <input matStartDate #ref placeholder="Start date" (dateChange)="saveStartDate($event)">
        <!--<input matStartDate #ref placeholder="Start date" (selectedChange)="saveStartDate($event)">-->
        <input matEndDate #ref placeholder="End date" (dateChange)="saveEndDate($event)">
      </mat-date-range-input>
      <!--<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <!--</div>-->
 <!-- <div class="pickdate">
    <label>(Select same date twice for single date)</label>
  </div>-->
  <!--<br><br>-->
  <!--<div id="submitBtn" >-->
    <button type="button" class="button" [disabled]="prettyStartDate === undefined || prettyStartDate === ''" (click)="clickme()">Check Coverage</button>
  </div>
  <hr>
  <div class="centered">
    <h2>Individual minimum pod coverage requirements must be met.  Each pod has a different minimum requirement.</h2>
    <hr>
    <div *ngIf="isLoading">
      <mat-progress-spinner class="centeredSpinner" id="spinner" mode="indeterminate" diameter='30' strokeWidth='10'></mat-progress-spinner>
    </div>
    <div *ngIf="dataDone">
      <div *ngFor="let item of sortedDayArray ">
        <h2 class="coverageDate">Date: {{item.coverage_day}} &nbsp;&nbsp;&nbsp;&nbsp; {{item.day_of_week}}</h2>
        <!--<div style="width: 500px; max-height:200px; overflow-y:auto;">-->
        <div class="listWrapper">
          <h4><b>These are the pathologists that would NOT be receiving cases this day:</b></h4>
          <div class="orderedList" *ngFor="let outPaths of item.max_details ">
            <ol>
              <li>{{outPaths.path_last}}, {{outPaths.path_first}} &nbsp;&nbsp; ({{outPaths.type_desc}})</li>
            </ol>
          </div>
        </div>
        <div class="podDetails" *ngFor="let podItem of item.coverage_details ">
          <h2 id="podName" [class]="getClass(podItem)" [style.background-color]="getColor(podItem)">Pod: {{podItem.pod_desc}}</h2>
          <h3>There would be {{podItem.pod_pathologists_available}} pathologists available this day.  For optimal performance, we need at minimum {{podItem.pod_threshold}} pathologist(s).</h3>
          <div class="centeredTable" style="display: table;">
            <div style="display: table-row">
              <div style="width: 400px; display: table-cell;">
                <h4><b>Able to receive cases:</b></h4>
                <div class="orderedList" *ngFor="let pathsIn of podItem.pod_pathologists_in ">
                  <ol>
                    <li>{{pathsIn.path_last}}, {{pathsIn.path_first}} &nbsp;&nbsp; {{pathsIn.type_desc}}</li>
                  </ol>
                </div>
              </div>
              <div style="width: 400px; display: table-cell;">
                <h4><b>Will NOT receive cases:</b></h4>
                <div class="orderedList" *ngFor="let pathsOut of podItem.pod_pathologists_out">
                  <ol>
                    <li>{{pathsOut.path_last}}, {{pathsOut.path_first}} &nbsp;&nbsp; {{pathsOut.type_desc}}</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  
</body>
